
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/textarea.scss";

.index{
  background-image: url('../../../img/consult.bg.jpg');
  width: 753rpx;
  height: 1529rpx;
  background-position: center;
  background-size: cover;
}
.bg {
  //position: relative;
  height: 1529px;
  //z-index: -1;
}
.controls {
  //position: absolute;
  top: 1000px;
  height: 350px;
  //z-index: 10;
}
.dailog{
  padding-top: 100rpx;
  width: 90%;
  padding-left: 5%;
  height: 400px;
}