@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/fab.scss";
.content-page{
  margin-left: 2%;
  width: 96%;
}
.mgridicon{
  .at-grid{
    &__flex {
      .content-inner {
        &__img {
          height: 180rpx;
          width: 120rpx;
        }
      }
    }
  }
  margin-top: 25px;
  height: 200px;
}
.mgrid1{
  .at-grid{
    &__flex {
      .at-grid-item{
        &__content-inner{
          height:130%;
        }
      }
      .content-inner {
        &__img {
          height: 430rpx;
          width: 310rpx;
        }

      }
    }
  }
  height: 440rpx;
  align-items: center;
}
.mgrid2{
  .at-grid{
    &__flex {
      .content-inner {
        &__img {
          height: 430rpx;
          width: 310rpx;
        }
      }
    }
  }
  height: 460rpx;
}
.mbar{
  .at-tab-bar{
    &__inner-img{
      width: 800rpx;
    }
  }
}