@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/grid.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/fab.scss";
.components-page{
  width: 100%;
  height: 264px;
}

.content-page{
  margin-left: 2%;
  width: 96%;
}
.content-show{
  height: 451rpx;
  width: 749rpx;
}
.content-buy{
  height: 170rpx;
  width: 749rpx;
}